{% extends "base.html" %}

{% block headtitle %} | Sign In{% endblock headtitle %}

{% block innercontent %}

{% load socialaccount %}

<div class="user-action-form-wrap">
    <div class="user-action-form-inner">

		<h1>Sign In</h1>

		<p>If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.</p>

		<form class="login" method="POST" action="{% url 'account_login' %}">
		  {% csrf_token %}
		  {{ form.as_p }}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  {% endif %}
		  <button class="primaryAction" type="submit">Sign In</button>
		</form>

		{% get_providers as socialaccount_providers %}
		{% if socialaccount_providers %}
			<h1 style="margin-top: 5%;">Sign In with Social Accounts</h1>
			{% for provider in socialaccount_providers %}
				<form class="login" method="POST" action="{% provider_login_url provider %}">
					{% csrf_token %}
					<button class="primaryAction" type="submit">Sign In with {{provider}}</button>
				</form>
			{% endfor %}
		{% endif %}

    </div>
</div>
{% endblock innercontent %}

