{% extends "base.html" %}

{% block headtitle %} | Sign In{% endblock headtitle %}

{% block innercontent %}
<div class="user-action-form-wrap">
    <div class="user-action-form-inner">

		<h1>Sign In</h1>

		<p>If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.</p>

		<form class="login" method="POST" action="{% url 'login_system' %}">
		  {% csrf_token %}
		  {{ form.as_p }}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  {% endif %}
		  <button class="primaryAction" type="submit">Sign In</button>
		</form>

    </div>
</div>
{% endblock innercontent %}

