{% extends "base.html" %}
{% load socialaccount %}

{% block headtitle %} | Sign In{% endblock headtitle %}

{% block innercontent %}
<div class="user-action-form-wrap">
    <div class="user-action-form-inner">

		<h1>Sign In</h1>
	
		{% if USE_SAML %}
                <div class="container">
         	<a href="{% provider_login_url 'wayf.wayf.dk' process='login' next='/' %}" class="login-button">
	            <h2 style="color: #009933 !important"> Sign In Via DEIC</h2>
         	</a>
        	    </div>

	{% else %}
		<form class="login" method="POST" action="{% url 'account_login' %}">
		  {% csrf_token %}
		  {{ form.as_p }}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  {% endif %}
		  <button class="primaryAction" type="submit">Sign In</button>
		</form>

	{% endif %}
    </div>
</div>
{% endblock innercontent %}

