{% extends "base.html" %}

{% block headtitle %} | Sign Out{% endblock headtitle %}

{% block innercontent %}
<div class="user-action-form-wrap">
    <div class="user-action-form-inner">

	<h1>Sign Out</h1>

		<p>Are you sure you want to sign out?</p>

		<form method="post" class="logout" action="{% url 'account_logout' %}">
		  {% csrf_token %}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
		  {% endif %}
		  <button type="submit">Sign Out</button>
		  <a class="button secondaryAction" href="/">Cancel</a>
		</form>

    </div>
</div>
{% endblock innercontent %}
