{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block headtitle %} | Change Password{% endblock headtitle %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block innercontent %}
<div class="user-action-form-wrap">
    <div class="user-action-form-inner">

		<h1>{% trans "Change Password" %}</h1>

		<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
			{% csrf_token %}
			{{ form|crispy }}
			<button type="submit" name="action">{% trans "Change Password" %}</button>
		</form>

    </div>
</div>
{% endblock %}
