{% extends "base.html" %}

{% block headtitle %} | Sign Up{% endblock headtitle %}

{% block innercontent %}
<div class="user-action-form-wrap">
    <div class="user-action-form-inner">

		<h1>Sign Up</h1>

		<p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>

		<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
			{% csrf_token %}
			{{ form.as_p }}
			{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
			  <button type="submit">Sign Up &raquo;</button>
		</form>

    </div>
</div>
{% endblock innercontent %}

