
.playlist-sharing {
	margin-top: 20px;
	padding: 15px;
	background: #f5f5f5;
	border-radius: 8px
}

.playlist-sharing h3 {
	margin-bottom: 10px
}

.playlist-sharing .sharing-section {
	margin-bottom: 15px
}

.playlist-sharing .user-pill-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	gap: 8px;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.playlist-sharing .user-pill {
	background: #ddd;
	padding: 5px 10px;
	border-radius: 15px;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	gap: 6px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.playlist-sharing .user-pill .remove-pill {
	cursor: pointer;
	font-weight: bold
}

.playlist-sharing .add-user-btn {
	margin-top: 5px;
	background: none;
	border: none;
	color: #06c;
	cursor: pointer
}

.dark_theme .playlist-sharing {
        background: #1c1c1c;
}
