version: "3"

services:
  migrations:
    # image: mediacms/mediacms:latest
    build: .
    volumes:
      - ./:/home/mediacms.io/mediacms/
    environment:
      LOGS_DIR: /home/mediacms.io/mediacms/custom_logs
      ENABLE_UWSGI: 'no'
      ENABLE_NGINX: 'no'
      ENABLE_CELERY_SHORT: 'no'
      ENABLE_CELERY_LONG: 'no'
      ENABLE_CELERY_BEAT: 'no'
      ADMIN_USER: 'admin'
      ADMIN_EMAIL: 'admin@localhost'
      ADMIN_PASSWORD: ''   #enter an admin password here ('') for localhost
    command: "./deploy/docker/prestart.sh"
    restart: on-failure
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy
  web:
    # image: mediacms/mediacms:latest
    build: .
    deploy:
      replicas: 1
    ports:
      - "80:80"
    volumes:
      - ./:/home/mediacms.io/mediacms/
    environment:
      LOGS_DIR: /home/mediacms.io/mediacms/custom_logs
      ENABLE_CELERY_BEAT: 'no'
      ENABLE_CELERY_SHORT: 'no'
      ENABLE_CELERY_LONG: 'no'
      ENABLE_MIGRATIONS: 'no'
    depends_on:
      db:
        condition: service_healthy
  celery_beat:
    # image: mediacms/mediacms:latest
    build: .
    volumes:
      - ./:/home/mediacms.io/mediacms/
    environment:
      LOGS_DIR: /home/mediacms.io/mediacms/custom_logs
      ENABLE_UWSGI: 'no'
      ENABLE_NGINX: 'no'
      ENABLE_CELERY_SHORT: 'no'
      ENABLE_CELERY_LONG: 'no'
      ENABLE_MIGRATIONS: 'no'
    depends_on:
      db:
        condition: service_healthy
  celery_worker:
    # image: mediacms/mediacms:latest
    build: .
    deploy:
      replicas: 1
    volumes:
      - ./:/home/mediacms.io/mediacms/
    environment:
      LOGS_DIR: /home/mediacms.io/mediacms/custom_logs
      ENABLE_UWSGI: 'no'
      ENABLE_NGINX: 'no'
      ENABLE_CELERY_BEAT: 'no'
      ENABLE_MIGRATIONS: 'no'
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:17.2-alpine
    volumes:
      - ../postgres_data:/var/lib/postgresql/data/
    restart: always
    environment:
      POSTGRES_USER: mediacms
      POSTGRES_PASSWORD: mediacms
      POSTGRES_DB: mediacms
      TZ: Europe/London
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U mediacms -d mediacms"]
      interval: 5s
      timeout: 5s
      retries: 5
  redis:
    image: "redis:alpine"
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli","ping"]
      interval: 10s
      timeout: 5s
      retries: 3
