Django
djangorestframework
lxml
python3-saml
django-allauth
psycopg
uwsgi
django-redis
celery
drf-yasg
Pillow
django-imagekit
markdown
django-filter
filetype
django-mptt
crispy-bootstrap5
requests
django-celery-email
m3u8
django-debug-toolbar
django-login-required-middleware
pre-commit
django-jazzmin
pysubs2
sentry-sdk[django]

