{
  "presets": [
    ["@babel/preset-env", {
      "modules": "amd",
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 10"]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-modules-amd"
  ]
}
