.playlist-view {
  border: 1px solid rgba(0, 0, 0, 0.1);

  .dark_theme & {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .playlist-header {
    background-color: var(--playlist-view-header-bg-color);

    .toggle-playlist-view {
      color: var(--playlist-view-header-toggle-text-color);
      background-color: var(--playlist-view-header-toggle-bg-color);
    }
  }

  .playlist-title {
    a {
      color: var(--playlist-view-title-link-text-color);
    }
  }

  .playlist-meta {
    color: var(--playlist-view-meta-text-color);

    .counter {
      color: var(--item-meta-text-color);
    }

    a {
      color: var(--playlist-view-meta-link-color);

      &:hover {
        color: var(--playlist-view-meta-link-hover-text-color);
      }
    }
  }

  .playlist-status {
    color: var(--playlist-view-status-text-color);
    background-color: var(--playlist-view-status-bg-color);

    .material-icons {
      color: var(--playlist-view-status-icon-text-color);
    }
  }

  .playlist-actions {
    background-color: var(--playlist-view-actions-bg-color);

    .circle-icon-button {
      background-color: var(--playlist-view-actions-bg-color);
    }
  }

  .playlist-media {
    background-color: var(--playlist-view-media-bg-color);

    .item-order-number {
      color: var(--playlist-view-media-order-number-color);
    }

    .item-main {
      line-height: 1;

      h3 {
        color: var(--playlist-view-item-title-text-color);

        span {
          line-height: var(--playlist-item-title-line-height);
          max-height: calc(var(--horizontal-item-title-max-lines) * var(--playlist-item-title-line-height));
          background-color: var(--playlist-view-media-bg-color);
          background-color: transparent;
        }
      }
    }

    .item-meta {
      line-height: 1.230769231em;
      color: var(--item-meta-text-color);
    }
  }
}

.playlist-view-wrap {
  position: relative;
  display: block;
  margin-bottom: 24px;
}

.playlist-view {
  display: block;

  a {
    text-decoration: none;
  }

  .playlist-header {
    position: relative;
    padding: 12px 16px;

    .toggle-playlist-view {
      position: absolute;
      top: 15px;
      right: 17px;
      width: 30px;
      height: 30px;
    }
  }

  &.playlist-expanded-view {
    .playlist-header {
      padding-bottom: 0;
    }
  }

  .playlist-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }

  .playlist-meta {
    margin-top: 4px;
    font-size: 12px;
    line-height: 15px;
  }

  .playlist-status {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    border-radius: 2px;

    .material-icons {
      font-size: 13px;
      display: inline-block;
      margin: 0 3px 0 0;
    }

    div {
      position: relative;
      display: inline-block;

      &:first-letter {
        text-transform: capitalize;
      }
    }
  }

  .playlist-actions {
    padding: 0 16px 0 8px;

    .circle-icon-button {
      display: inline-block;
      margin-left: 8px;

      &.active {
        color: var(--theme-color, var(--default-theme-color));
      }

      &.add-to-playlist {
        float: right;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .playlist-media {
    max-height: 415px;
    padding: 4px 0;
    overflow: auto;

    .items-list-outer {
      max-width: 100%;
    }

    .item {
      position: relative;
      padding: 4px 8px 4px 28px;
      max-width: 100%;
      margin: 0;

      transition: background-color 0.05s linear;

      &:hover,
      &.pl-active-item {
        background-color: var(--nav-menu-item-hover-bg-color);
      }
    }

    .item-order-number {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      display: block;
      width: 28px;
      font-size: 12px;
      line-height: 15px;

      > div {
        display: table;
        width: 100%;
        height: 100%;

        > div {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
        }
      }

      .material-icons {
        font-size: 17px;
      }
    }

    .items-list-wrap {
      min-height: 64px;
    }

    .item-content {
      padding-left: 100px !important;
    }

    .item-thumb {
      width: 100px !important;
      height: 56px !important;
    }

    .item-main {
      width: auto;
      display: block;
      min-height: 56px !important;

      .item-content-link {
        float: left;
        display: inline-block;
        width: 100%;
      }

      h3 {
        position: relative;
        float: left;
        width: 100%;
        margin: 0 !important;
      }
    }
  }
}
