$theme-color: var(--theme-color, var(--default-theme-color));

$color-error-red: rgba(red, 0.8);

$message-default-color: rgba(#111, 0.9);

$message-default-bg-color: #e6e6e6;
$message-info-bg-color: #e6e6fa;
$message-error-bg-color: #fae6e6;
$message-success-bg-color: #e6f0e6;

$message-warning-bg-color: #fafae6;
