@import '../../../css/includes/_variables.scss';

.daw-delete-popup {
  position: relative;
  width: 0px;
  height: 0px;
  margin-top: 0rem;

  > button {
    // Hide the button.
    display: none;
  }

  .popup {
    bottom: 100%;
    margin-bottom: 8px;

    .popup-message-bottom {
      button {
        position: relative;
        width: auto;
        padding: 0;
        border: 0;

        &.cancel-voice-removal,
        &.proceed-voice-removal {
          background-color: transparent;
          background-color: rgba(0, 0, 0, 0);
        }

        &.proceed-voice-removal {
          float: right;
        }

        &.cancel-voice-removal {
          float: left;
        }

        &.cancel-voice-removal {
          color: var(--voice-actions-cancel-removal-button-text-color);

          &:hover,
          &:focus {
            color: var(--voice-actions-cancel-removal-button-hover-text-color);

            .material-icons {
              color: var(--voice-actions-cancel-removal-button-hover-text-color);
            }
          }
        }
      }
    }
  }
}
