/* Sync voices with database */

#btn-download-WAV-file {
    /* Save/sync button works for both (1) download and (2) upload to database. */
    /* So, there is no need for another download button. */
    display: none;
}

.daw-sync-outer {
    display: flex; align-items: center; flex-direction: column; justify-content: center;
}

.daw-sync { border: 0.08rem dotted gray; height: 5rem; width: 8.09rem; margin: 1rem 0; }

.daw-sync::before { content: "Set voice"; }

#daw-sync {
    display: flex; align-items: center; flex-direction: column; justify-content: center;
}
