
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    .daw-container-outer {
        width: 100%;
    }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .daw-container-outer {
        width: 100%;
    }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .daw-container-outer {
        width: 100%;
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .daw-container-outer {
        width: 100%;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    .daw-container-outer {
        width: 100%;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    .daw-container-outer {
        width: 100%;
    }
}