
.track-drop { border: 0.18rem dashed blue; height: 8rem; width: 13rem; margin: 1rem 0; }

.track-drop::before { content: "Drop MP3/WAV file(s)."; }

.track-drop.drag-enter { border: 0.18rem solid orange; }

#track-drop {
    display: flex; align-items: center; flex-direction: column; justify-content: center;
}

#input-drop{
    display: none;
}
