@import '../../../../css/includes/_variables.scss';
@import '../../../../css/includes/_variables_dimensions.scss';

.theme-switch {
  position: relative;
  display: table;
  width: 100%;

  @if $_use_rem_unit {
    padding: 0 1.5rem;
    margin: 0.75rem 0;
  } @else {
    padding: 0 24px;
    margin: 12px 0;
  }

  &:focus {
    outline: var(--dotted-outline);
  }

  > * {
    display: table-cell;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;

    &:last-child {
      text-align: right;
    }
  }

  .checkbox-label.right-selectbox {
    margin: 0;

    .selectbox {
      margin: 0;
    }
  }
}
