<div id="app-header"></div>
<div id="app-sidebar"></div>
<div class="page-main-wrap">
  <div class="page-main">
    <div class="page-main-inner">
      <div class="custom-page-wrapper">
        <h2>About</h2>
        <hr />
        <p>
          <a href="https://micrufun.com">MICRUFUN</a> is a platform for voice artists to collaborate on creating audio for videos conveniently and intuitively. It is a global social studio for voice artists to share their content with audiences and businesses. We help audiences access a wide range of voice-over art of their choice whenever and wherever they are.
        </p>
        <p>
          MICRUFUN LTD
          <br>
          Greenford, England
        </p>
      </div>
    </div>
    <div class="page-sidebar-content-overlay"></div>
  </div>
</div>
<div id="app-footer"></div>
