<div id="app-header"></div>
<div id="app-sidebar"></div>
<div class="page-main-wrap">
  <div class="page-main">
    <div class="page-main-inner">
      <div class="custom-page-wrapper">
        <h2>About</h2>
        <hr />
        <p>
          <a href="https://mediacms.io">MediaCMS</a> is a modern, fully featured open source video and media CMS. It is
          developed to meet the needs of modern web platforms for viewing and sharing media.
        </p>
      </div>
    </div>
    <div class="page-sidebar-content-overlay"></div>
  </div>
</div>
<div id="app-footer"></div>
