<div id="app-header"></div>
<div id="app-sidebar"></div>
<div class="page-main-wrap">
	<div class="page-main">
		<div class="page-main-inner">
			<div class="custom-page-wrapper">
				<h2>About</h2>
				<hr />
				<p>MediaCMS, a modern CMS for video and media is going to be released in May 2020 as open source software. <a href="/contact">Get in touch</a> with the team building it until that!</p>
			</div>
		</div>
		<div class="page-sidebar-content-overlay"></div>
	</div>
</div>
<div id="app-footer"></div>
