<div id="app-header"></div>
<div id="app-sidebar"></div>
<div class="page-main-wrap">
  <div class="page-main">
    <div class="page-main-inner">
      <div class="user-action-form-wrap">
        <div class="user-action-form-inner">
          <h1>Contact us</h1>
          <form enctype="multipart/form-data" action="" method="post" class="post-form">
            <p>
              <label for="id_from_email">Your email:</label>
              <input type="email" name="from_email" required="" id="id_from_email" />
            </p>
            <p><label for="id_name">Your name:</label> <input type="text" name="name" id="id_name" /></p>
            <p>
              <label for="id_message">Please add your message here and submit:</label>
              <textarea name="message" cols="40" rows="10" required="" id="id_message"></textarea>
            </p>
            <button class="primaryAction" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="page-sidebar-content-overlay"></div>
  </div>
</div>
<div id="app-footer"></div>
