<div id="app-header"></div>
<div id="app-sidebar"></div>
<div class="page-main-wrap">
  <div class="page-main">
    <div class="page-main-inner">
      <div class="user-action-form-wrap">
        <div class="user-action-form-inner">
          <h1>Edit Channel</h1>

          <form enctype="multipart/form-data" action="" method="post" class="post-form">
            <div id="div_id_banner_logo" class="control-group">
              <label for="id_banner_logo" class="control-label"> Banner logo </label>
              <div class="controls">
                Currently: <a href="#">*****</a>
                <input type="checkbox" name="banner_logo-clear" id="banner_logo-clear_id" />
                <label for="banner_logo-clear_id">Clear</label><br />
                Change:
                <input type="file" name="banner_logo" accept="image/*" class="clearablefileinput" id="id_banner_logo" />
              </div>
            </div>

            <button class="primaryAction" type="submit">Update Channel</button>
          </form>
        </div>
      </div>
    </div>
    <div class="page-sidebar-content-overlay"></div>
  </div>
</div>
<div id="app-footer"></div>
