{{!
    @template tiny_mediacms/iframe_embed_modal
}}
{{< core/modal }}
    {{$body}}
        <form class="tiny_iframecms_form" id="{{elementid}}_tiny_iframecms_form">
            <ul class="nav nav-tabs mb-3" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" id="{{elementid}}_tab_url" data-bs-toggle="tab" data-bs-target="#{{elementid}}_pane_url" type="button" role="tab">{{#str}} urltab, tiny_mediacms {{/str}}</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="{{elementid}}_tab_iframe_library" data-bs-toggle="tab" data-bs-target="#{{elementid}}_pane_iframe_library" type="button" role="tab">{{#str}} iframelibrarytab, tiny_mediacms {{/str}}</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="{{elementid}}_pane_url" role="tabpanel">
                    <div class="mb-3">
                        <label class="form-label">{{#str}} enterurl, tiny_mediacms {{/str}}</label>
                        <input type="text" class="form-control tiny_iframecms_url" name="mediacms_url" value="{{url}}">
                    </div>
                    {{> tiny_mediacms/iframe_embed_options }}
                    <div class="tiny_mediacms_preview border p-2 text-center bg-light" style="min-height:200px">
                        Preview
                    </div>
                </div>
                <div class="tab-pane fade" id="{{elementid}}_pane_iframe_library" role="tabpanel">
                    <div class="tiny_mediacms_library_container text-center" style="min-height:400px">
                        <div class="tiny_mediacms_library_loading d-none">Loading...</div>
                        <iframe class="tiny_mediacms_library_frame d-none" style="width:100%;height:400px;border:0;"></iframe>
                        <div class="tiny_mediacms_library_placeholder p-5">Library will load here</div>
                    </div>
                </div>
            </div>
        </form>
    {{/body}}
    {{$footer}}
        <button type="button" class="btn btn-primary" data-action="save">{{#str}} insertmedia, tiny_mediacms {{/str}}</button>
        <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} cancel, moodle {{/str}}</button>
    {{/footer}}
{{/ core/modal }}
