{{!
    @template tiny_mediacms/iframe_embed_options
}}
<div class="mb-3">
    <label class="form-label font-weight-bold">{{#str}} embedoptions, tiny_mediacms {{/str}}</label>
    <div class="row">
        <div class="col-6">
            <div class="form-check mb-2">
                <input type="checkbox" class="form-check-input tiny_iframecms_showtitle" id="{{elementid}}_showtitle" {{#showTitle}}checked{{/showTitle}}>
                <label class="form-check-label" for="{{elementid}}_showtitle">{{#str}} showtitle, tiny_mediacms {{/str}}</label>
            </div>
            <div class="form-check mb-2">
                <input type="checkbox" class="form-check-input tiny_iframecms_linktitle" id="{{elementid}}_linktitle" {{#linkTitle}}checked{{/linkTitle}}>
                <label class="form-check-label" for="{{elementid}}_linktitle">{{#str}} linktitle, tiny_mediacms {{/str}}</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-check mb-2">
                <input type="checkbox" class="form-check-input tiny_iframecms_responsive" id="{{elementid}}_responsive" {{#responsive}}checked{{/responsive}}>
                <label class="form-check-label" for="{{elementid}}_responsive">{{#str}} responsive, tiny_mediacms {{/str}}</label>
            </div>
            <div class="form-check mb-2">
                <label class="form-check-label">{{#str}} aspectratio, tiny_mediacms {{/str}}</label>
                <select class="form-control form-control-sm tiny_iframecms_aspectratio" id="{{elementid}}_aspectratio">
                    <option value="16:9" {{#is16_9}}selected{{/is16_9}}>16:9</option>
                    <option value="4:3" {{#is4_3}}selected{{/is4_3}}>4:3</option>
                    <option value="1:1" {{#is1_1}}selected{{/is1_1}}>1:1</option>
                    <option value="custom" {{#isCustom}}selected{{/isCustom}}>Custom</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col-6">
            <div class="input-group input-group-sm">
                <span class="input-group-text">{{#str}} width, tiny_mediacms {{/str}}</span>
                <input type="number" class="form-control tiny_iframecms_width" id="{{elementid}}_width" value="{{width}}">
            </div>
         </div>
         <div class="col-6">
            <div class="input-group input-group-sm">
                <span class="input-group-text">{{#str}} height, tiny_mediacms {{/str}}</span>
                <input type="number" class="form-control tiny_iframecms_height" id="{{elementid}}_height" value="{{height}}">
            </div>
         </div>
    </div>
</div>
