button {
    cursor: pointer;
}

.video-js,
.video-js[tabindex],
.vjs-button:focus,
.video-js video:focus,
.video-js video:focus-visible {
    outline: none !important;
}

/* Show time control in all screen sizes */
.video-js .vjs-time-control {
    display: block !important;
}
.video-js .vjs-time-control.vjs-time-divider {
    display: none !important;
}

/* Hide time tooltip, mouse display, and sprite preview for audio files */
.video-js.vjs-audio-type .vjs-time-tooltip,
.video-js.vjs-audio-type .vjs-mouse-display,
.video-js.vjs-audio-type .vjs-sprite-preview-tooltip,
.video-js.vjs-audio-type .chapter-image-sprite {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

/* Center the fullscreen button inside its wrapper */
/* @media (hover: hover) and (pointer: fine) {
    .vjs-fullscreen-control svg {
        width: 30px !important;
        height: 30px !important;
    }
}
 */
