button {
    cursor: pointer;
}

.video-js,
.video-js[tabindex],
.vjs-button:focus,
.video-js video:focus,
.video-js video:focus-visible {
    outline: none !important;
}

/* Show time control in all screen sizes */
.video-js .vjs-time-control {
    display: block !important;
}
.video-js .vjs-time-control.vjs-time-divider {
    display: none !important;
}
