MediaCMS.contents = {
    sidebar: {
        navMenuItems: [{
                text: "About",
                link: "/about",
                icon: 'contact_support',
            },
            {
                text: "Terms",
                link: "/tos",
                icon: 'insert_drive_file',
            },
            {
                text: "Contact",
                link: "/contact",
                icon: 'alternate_email',
            }
        ],
        belowNavMenu: null,
        footer: {% if SIDEBAR_FOOTER_TEXT %}'{{ SIDEBAR_FOOTER_TEXT|escapejs }}'{% else %}'Powered by <a href="//mediacms.io" title="mediacms.io" target="_blank">mediacms.io</a>'{% endif %},
    },
    uploader: {
        belowUploadArea: "{{PRE_UPLOAD_MEDIA_MESSAGE}}",
        postUploadMessage: "{{POST_UPLOAD_AUTHOR_MESSAGE_UNLISTED_NO_COMMENTARY}}",
    },
};
