MediaCMS.contents = {
    sidebar: {
        navMenuItems: [{
                text: "About",
                link: "/about",
                icon: 'contact_support',
            },
            {
                text: "Terms",
                link: "/tos",
                icon: 'insert_drive_file',
            },
            {
                text: "Contact",
                link: "/contact",
                icon: 'alternate_email',
            }
        ],
        belowNavMenu: null,
        footer: 'Powered by <a href="https://github.com/Micrufun" title="MICRUFUN" target="_blank">MICRUFUN</a>',
    },
    uploader: {
        belowUploadArea: "{{PRE_UPLOAD_MEDIA_MESSAGE}}",
        postUploadMessage: "{{POST_UPLOAD_AUTHOR_MESSAGE_UNLISTED_NO_COMMENTARY}}",
    },
};