MediaCMS.site = {
 	id: 'mediacms',
    title: "{{PORTAL_NAME}}",
    url: '{{FRONTEND_HOST}}',
    api: '{{FRONTEND_HOST}}/api/v1',
    useRoundedCorners: {% if USE_ROUNDED_CORNERS %}true{% else %}false{% endif %},
    version: '{{VERSION}}',
    theme: {
    	mode: '{{DEFAULT_THEME}}',
		switch: {
			position: 'sidebar',	// Valid values: 'header', 'sidebar'.
		},
    },
    logo:{
    	lightMode:{
            img: "{{PORTAL_LOGO_DARK_PNG}}",
            svg: "{{PORTAL_LOGO_DARK_SVG}}",
    	},
    	darkMode:{
            img: "{{PORTAL_LOGO_LIGHT_PNG}}",
            svg: "{{PORTAL_LOGO_LIGHT_SVG}}",
    	},
    },
    pages: {
	    latest:{
	    	title: 'Recent uploads',
	    },
	    featured:{
	    	title: 'Featured',
	    },
	    recommended:{
	    	title: 'Recommended',
	    },
	    members:{
	    	title: 'Members',
	    },
    },
    userPages: {
    	liked: {
	    	title: 'Liked media',
    	},
    	history: {
	    	title: 'History',
    	},
    },
    taxonomies: {
	    tags: {
	    	title: 'Tags',
	    },
	    categories: {
	    	title: 'Categories',
	    },
    },
};

