MediaCMS.site = {
 	id: 'mediacms',
    title: "{{PORTAL_NAME}}",
    url: '',
    api: '{{FRONTEND_HOST}}api/v1',
    theme: {
    	mode: '{{DEFAULT_THEME}}',   
		switch: {
			position: 'sidebar',	// Valid values: 'header', 'sidebar'.
		},
    },
    logo:{
    	lightMode:{
            img: "https://media.guys.network/static/images/logos/bnwo-fun/logo_dark.png",
            svg: "https://media.guys.network/static/images/logos/bnwo-fun/logo_dark.svg",
    	},
    	darkMode:{
            img: "https://media.guys.network/static/images/logos/bnwo-fun/logo_dark.png",
            svg: "https://media.guys.network/static/images/logos/bnwo-fun/logo_dark.svg",
    	},
    },
    pages: {
	    latest:{
	    	title: 'Recent uploads',
	    },
	    featured:{
	    	title: 'Featured',
	    },
	    recommended:{
	    	title: 'Recommended',
	    },
	    members:{
	    	title: 'Members',
	    },
    },
    userPages: {
    	liked: {
	    	title: 'Liked media',
    	},
    	history: {
	    	title: 'History',
    	},
    },
    taxonomies: {
	    tags: {
	    	title: 'Tags',
	    },
	    categories: {
	    	title: 'Categories',
	    },
    },
};

