{% load static %}
		<link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/apple-touch-icon.png" %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static "favicons/favicon-32x32.png" %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static "favicons/favicon-16x16.png" %}">
		<link rel="manifest" href="{% static "favicons/site.webmanifest" %}">
		<link rel="mask-icon" href="{% static "favicons/safari-pinned-tab.svg" %}" color="#009933">
		<link rel="shortcut icon" href="{% static "favicons/favicon.ico" %}">
		<link rel="alternate" type="application/rss+xml" title="RSS feeds" href="{{RSS_URL}}" />
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-config" content="{% static "favicons/browserconfig.xml" %}">
		<meta name="theme-color" content="#ffffff">

		{% if LOAD_FROM_CDN %}
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="preload" as="style">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="preload" as="style">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
		{% else %}
		<link href="{% static "lib/material-icons/material-icons.css" %}" rel="preload" as="style">
		<link href="{% static "lib/gfonts/gfonts.css" %}" rel="preload" as="style">
		<link href="{% static "lib/material-icons/material-icons.css" %}" rel="stylesheet">
		<link href="{% static "lib/gfonts/gfonts.css" %}" rel="stylesheet">
		{% endif %}

		<link href="{% static "css/_commons.css" %}?v={{ VERSION }}" rel="preload" as="style">
		<link href="{% static "css/_commons.css" %}?v={{ VERSION }}" rel="stylesheet">

		<link href="{% static "css/_extra.css" %}?v={{ VERSION }}" rel="preload" as="style">
		<link href="{% static "css/_extra.css" %}?v={{ VERSION }}" rel="stylesheet">

		<link href="{% static "js/_commons.js" %}?v={{ VERSION }}" rel="preload" as="script">
