{% extends "base.html" %}

{% block headtitle %}About - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}

<meta property="og:title" content="About - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
			"@type": "WebPage",
	        "@id": "{{FRONTEND_HOST}}"
	    }
    },
    {
		"@type": "ListItem",
		"position": 2,
        "name": "About",
        "item": {
			"@type": "AboutPage",
	        "@id": "{{FRONTEND_HOST}}/about"
	    }
    }]
}
</script>

{% endblock headermeta %}

{% block innercontent %}
<div class="custom-page-wrapper">
	<h2>About</h2>
	<hr/>
	
    <p>	<h3>Introduction</h3>
	<a href="https://www.guys.network/">Guys.Network</a> is a chain of websites that all end in the .fun TLD. This route was chosen as opposed to sub domains to give the site names a little bit of a jingle and to increase SEO back to the other sites.
	This site and the others are fully automated. Please flag anything that should not be uploaded, they will be taken down automatically if enough users flag them. We do not have moderation enabled for now, but if it is abused we will enable it at some point in the future. 
	<br /><br />
	<h3>How It Works</h3>
	Using some web / social media crawlers, content is downloaded on an unmetered connection, processed, and uploaded via API. It is then sent back, transcoded on some i5 processors, and then stored in an S3 compatible bucket decentralized across the globe.
	<br /><br />
	<h3>Guys.Network Update</h3>
	Version 2.0 Beta of Guys.Network runs on a modified version of MediaCMS that enables S3 compatible storage and remote workers for transcoding. Previously we used Chevereto, but it still lacks video support and until that is implemented we decided to swap to another platform. <br />
	Version 2.0 Beta succeeds Version 1.0 Beta, which never officially left being a beta. When Version 2.0 comes out of beta we will have single sign on (one login) for the entirety of the guys.network .fun domains. This should allow contributing to be much easier while also allowing<br />
	for us to better monetize the platform. <br /><br />
	<br /><br />
	<h3>Monetization</h3>>
	We have a couple of options for monetizing the website. I know, I know, everyone wants it free with no ads. I'd like to develop a platform where content creators can get paid per view or per download for each image or video that is viewed. This approach
	is similar to that of Spotify, Youtube, Netflix, or Amazon Prime. I am unsure exactly what options will be available from the start and how much will need to be developed, but ideally I would like you to get paid views of your media. The amount you make
	is taken from a percentage of the viewers paid or ad supported revenue. A percent of the monthly fee will be for hosting costs and the rest will be distributed out to the content creators that created what they viewed. An algorithm determines how much you
	make based on the relative popularity, category, and number of subscribers. I once had a video that had 4 million views on it, it was leaked from a cam website. If I had been paid $0.01 for every view/download, I would have made $40,000. I will have to figure
	up exact numbers, but my guess is that it will range between $0.000001 and $0.05 per view. Last I heard, Youtube paid about $3/1000 views, which amounts to $0.003 / view. <br />
	<br />
	
	</p>
</div>
{% endblock %}
