{% extends "base.html" %}

{% block headtitle %}About - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}

<meta property="og:title" content="About - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
			"@type": "WebPage",
	        "@id": "{{FRONTEND_HOST}}"
	    }
    },
    {
		"@type": "ListItem",
		"position": 2,
        "name": "About",
        "item": {
			"@type": "AboutPage",
	        "@id": "{{FRONTEND_HOST}}/about"
	    }
    }]
}
</script>

{% endblock headermeta %}

{% block innercontent %}
<div class="custom-page-wrapper">
	<h2>About</h2>
	<hr/>
	
    <p><a href="https://micrufun.com">MICRUFUN</a> is a platform for voice artists to collaborate on creating audio conveniently and intuitively. It is a global social studio for voice artists to share their content with audiences and businesses. We help audiences access a wide range of voice art of their choice whenever and wherever they are.</p>
	<p>
		MICRUFUN LTD
		<br>
		Greenford, England
	</p>
</div>
{% endblock %}
