{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block headtitle %}Edit media - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}
<link rel="stylesheet" href="{% static 'video_editor/video-editor.css' %}">
<style>
.user-action-form-inner {
    max-width: 1280px !important;
}
</style>
{% endblock headermeta %}

{% block innercontent %}

    <div class="user-action-form-wrap">
		<div class="user-action-form-inner">
			<h1>Edit Media</h1>

            <script>
                const predefined_ranges = [
                    {
                        start: 0,
                        end: 2,
                        label: "Part A"
                    },
                    {
                        start: 3,
                        end: 4,
                        label: "Part B"
                    },
                    {
                        start: 6,
                        end: 8,
                        label: "Part C"
                    }
                ];
                window.MEDIA_DATA = {
                    videoUrl: "{{ media_file_path }}",
                    predefinedRanges: predefined_ranges,
                    chapters: [
                        {
                            id: "1",
                            title: "Chapter 1",
                            timestamp: 0
                        },
                        {
                            id: "2",
                            title: "Chapter 2",
                            timestamp: 10
                        },
                        {
                            id: "3",
                            title: "Chapter 3",
                            timestamp: 20
                        }
                    ]
                };
                console.log("MEDIA_DATA");
                console.log(window.MEDIA_DATA);
            </script>

            <!-- Mount point for React app -->
            <div id="video-editor-root"></div>
            
			<form enctype="multipart/form-data" action="" method="post" class="post-form">
				{% csrf_token %}
				{{ form|crispy }}
				<button class="primaryAction" type="submit">Update Media</button>
			</form>
		</div>
	</div>

    <!-- Add data for React components -->
    <script src="{% static 'video_editor/video-editor.js' %}"></script>
{% endblock innercontent %}

