{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block headtitle %}Edit category {{ category.title }} - {{PORTAL_NAME}}{% endblock headtitle %}

{% block innercontent %}
<div class="user-action-form-wrap">
	<div class="user-action-form-inner">
		<h1>Edit category</h1>
		<p>Changing the title changes how this category is listed. The link to it does not change, because it is built from an identifier that stays as it is.</p>
		<form enctype="multipart/form-data" action="" method="post" class="post-form">
			{% csrf_token %}
			{{ form|crispy }}
			<button class="primaryAction" type="submit">Update category</button>
			<a class="secondaryAction" href="{{ category.get_absolute_url }}">Cancel</a>
		</form>
	</div>
</div>
{% endblock innercontent %}
