<body>
<style>
        .fakePlayer {
                background-color: #242424;
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                padding: 0px;
                color: white;
                width: auto;
                height: auto;
                text-align: center;
        }
        .center {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 0px;
                right: 0px;
                -ms-transform: translate(0,-50%);
                transform: translate(0,-50%);
                text-align: center;
        }
</style>
<div class="fakePlayer">
        <div class="center">
                <p> 403 - Forbidden </p>
                <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="85" height="85" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
                </p>
                <p>Embedded media is not permitted from this referer.</p>
                <p> If this is a preview, please save your content to see the video.</p>
        </div>
</div>
</body>
