{% extends "base.html" %}
{% load static %}

{% block headtitle %}History - {{PORTAL_NAME}}{% endblock headtitle %}

{% block topimports %}
{% load static %}
<link href="{% static "css/history.css" %}?v={{ VERSION }}" rel="preload" as="style">
<link href="{% static "css/history.css" %}?v={{ VERSION }}" rel="stylesheet">
{%endblock topimports %}

{% block content %}
{% if user %}<div id="page-history"></div>{% endif %}
{% endblock %}

{% block bottomimports %}
{% load static %}
<script src="{% static "js/history.js" %}?v={{ VERSION }}"></script>
{% endblock bottomimports %}
