{% extends "base.html" %}
{% load static %}

{% block headermeta %}

<link rel="canonical" href="{{FRONTEND_HOST}}{{media_object.get_absolute_url}}">

<meta name="description" content="{{PORTAL_DESCRIPTION}}">

<meta property="og:title" content="{{PORTAL_NAME}}">
<meta property="og:url" content="{{FRONTEND_HOST}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "WebSite",
	"url": "{{FRONTEND_HOST}}",
	"potentialAction": {
		"@type": "SearchAction",
		"target": "{{FRONTEND_HOST}}/search?q={search_query_string}",
		"query-input": "required name=search_query_string"
	}
}
</script>

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
        	"@type": "WebPage",
        	"@id": "{{FRONTEND_HOST}}"
    	}
    }]
}
</script>

{% endblock headermeta %}

{% block content %}<div id="page-home">
        <h2>Featured <a href="/featured">VIEW ALL</a></h2>
        <ul>
        {% for media_object in media_featured %}
        <li>
                <h3><a href="/view?m={{media_object.friendly_token}}"><img src="{{media_object.thumbnail_url}}" alt="Thumbnail" title="{{media_object.title}}" loading="lazy" /><br />
				{{media_object.title}}</a></h3>
                <p>Posted by <a href="user/{{media_object.user}}">{{media_object.author_name}}</a></p>
                <p>{{media_object.views}} views</p>
                <p>Published {{media_object.add_date}}</p>
        </li>
        {% endfor %}
        </ul>
        <h2>Recommended <a href="/recommended">VIEW ALL</a></h2>
        <ul>
        {% for media_object in media_recommended %}
        <li>
                <h3><a href="/view?m={{media_object.friendly_token}}"><img src="{{media_object.thumbnail_url}}" alt="Thumbnail" title="{{media_object.title}}" loading="lazy" /><br />
				{{media_object.title}}</a></h3>
                <p>Posted by <a href="user/{{media_object.user}}">{{media_object.author_name}}</a></p>
                <p>{{media_object.views}} views</p>
                <p>Published {{media_object.add_date}}</p>
        </li>
        {% endfor %}
        </ul>
        <h2>Latest <a href="/latest">VIEW ALL</a></h2>
        <ul>
        {% for media_object in media_latest %}
        <li>
                <h3><a href="/view?m={{media_object.friendly_token}}"><img src="{{media_object.thumbnail_url}}" alt="Thumbnail" title="{{media_object.title}}" loading="lazy" /><br />
				{{media_object.title}}</a></h3>
                <p>Posted by <a href="user/{{media_object.user}}">{{media_object.author_name}}</a></p>
                <p>{{media_object.views}} views</p>
                <p>Published {{media_object.add_date}}</p>
        </li>
        {% endfor %}
        </ul>
</div>{% endblock %}

{% block bottomimports %}
<script src="{% static "js/index.js" %}"></script>
{% endblock bottomimports %}
