{% extends "base.html" %}
{% load static %}

{% block headtitle %}Liked media - {{PORTAL_NAME}}{% endblock headtitle %}

{% block topimports %}
{% load static %}
<link href="{% static "css/liked.css" %}?v={{ VERSION }}" rel="preload" as="style">
<link href="{% static "css/liked.css" %}?v={{ VERSION }}" rel="stylesheet">
{%endblock topimports %}

{% block content %}
{% if user %}<div id="page-liked"></div>{% endif %}
{% endblock %}

{% block bottomimports %}
{% load static %}
<script src="{% static "js/liked.js" %}?v={{ VERSION }}"></script>
{% endblock bottomimports %}
