{% extends "base.html" %}
{% load static %}

{% block headtitle %}Manage media - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}

<meta property="og:title" content="Manage media - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

{% endblock headermeta %}

{% block content %}
<script>
window.CATEGORIES = {{ categories|safe }};
</script>
<div id="page-manage-media"></div>
{% endblock %}

{% block bottomimports %}
    <script src="{% static "js/manage-media.js" %}?v={{ VERSION }}"></script>
{% endblock bottomimports %}

