{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block headtitle %}Publish media - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}{% endblock headermeta %}

{% block innercontent %}
    <div class="user-action-form-wrap">
			{% include "cms/media_nav.html" with active_tab="publish" %}
			<div style="max-width: 900px; margin: 0 auto; padding: 20px; border-radius: 8px; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);">
				{% csrf_token %}
				{% crispy form %}
		</div>
	</div>
{% endblock innercontent %}