{% extends "base.html" %}
{% load static %}

{% block headtitle %}Recommended - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}

<meta property="og:title" content="Recommended - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
            "@type": "WebPage",
            "@id": "{{FRONTEND_HOST}}"
        }
    },
    {
		"@type": "ListItem",
		"position": 2,
        "name": "Recommended",
        "item": {
            "@type": "WebPage",
            "@id": "{{FRONTEND_HOST}}/recommended"
        }
    }]
}
</script>

{% endblock headermeta %}

{% block content %}
{% if user %}<div id="page-recommended">
        <h2>Recommended</h2>
        <ul>
        {% for media_object in media %}
        <li>
                <h3><a href="/view?m={{media_object.friendly_token}}"><img src="{{media_object.thumbnail_url}}" alt="Thumbnail" title="{{media_object.title}}" loading="lazy" /><br />
				{{media_object.title}}</a></h3>
                <p>Posted by <a href="user/{{media_object.user}}">{{media_object.author_name}}</ae</p>
                <p>{{media_object.views}} views</p>
                <p>Published {{media_object.add_date}}</p>
        </li>
        {% endfor %}
        </ul>
</div>{% endif %}
{% endblock %}

{% block bottomimports %}
<script src="{% static "js/recommended.js" %}"></script>
{% endblock bottomimports %}
