{% extends "base.html" %}

{% block headtitle %}Terms - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}

<meta property="og:title" content="Terms - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
            "@type": "WebPage",
            "@id": "{{FRONTEND_HOST}}"
        }
    },
    {
    	"@type": "ListItem",
        "position": 2,
        "name": "Terms",
        "item": {
            "@type": "WebPage",
            "@id": "{{FRONTEND_HOST}}/terms"
        }
    }]
}
</script>

{% endblock headermeta %}

{% block innercontent %}
<div class="custom-page-wrapper">
	<h2>Terms</h2>
	<hr/>
	<p>Terms of service</p>
    <p>By using this site, you agree to waive any and all lawsuits against us. If you want content taken down, please use the flag option or send a DMCA takedown with the URLs to be taken down.
    You agree to only upload legal content and abide by copyright and federal law within the United States of America. There is absolutely 0 tolerance for illegal content. Illegal content includes:<br />
    <ol>
    <li>Beastiality</li>
    <li>Blood</li>
    <li>Child Pornography / Pedophelia</li>
    <li>Scat</li>
    <br />
    Otherwise, you are free to use the network of sites and upload as you wish. Please be mindful of the original owners and any copyright. Keep content relative to the website's overall theme. Any irrelevant content will be removed (or relocated).
    Any users that violate the terms repeatedly will be subject to a temporary/permanent ban. <br /><br />

    For the full Terms of Service, see the main website at <a href="https://www.guys.network/">Guys.Network</a>.
    </ol>
    </p>
</div>
{% endblock %}
