{% extends "base.html" %}
{% load static %}

{% block headtitle %}{% if user.name %}{{user.name}} - {% endif %}{{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}

<meta property="og:title" content="{% if user.name %}{{user.name}} - {% endif %}{{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

{% endblock headermeta %}

{% block topimports %}
<link href="{% static "css/profile-media.css" %}" rel="preload" as="style">
<link href="{% static "css/profile-media.css" %}" rel="stylesheet">
{%endblock topimports %}

{% block innercontent %}
{% if user %}{% else %}
No such user
{% endif %}
{% endblock %}

{% block content %}
{% if user %}<div id="page-profile-media">
        <h2>{{user.name}}</h2>
        <ul>
                <li><a href="/user/{{user.username}}/about">ABOUT</a></li>
                <li><a href="/user/{{user.username}}">MEDIA</a></li>
                <li><a href="/user/{{user.username}}/playlists">PLAYLISTS</a></li>
        </ul>
        <h3>Uploads</h3>
        <ul>
        {% for media_object in media %}
        <li>
                <h4><img src="{{media_object.thumbnail_url}}" alt="Thumbnail" title="{{media_object.title}}" loading="lazy" /><br />
                {{media_object.title}}</h4>
                <p>{{media_object.views}} views</p>
                <p>Published {{media_object.add_date}}</p>
        </li>
        {% endfor %}
        </ul>
</div>{% endif %}
{% endblock %}

{% block bottomimports %}
<script src="{% static "js/profile-media.js" %}"></script>
{% endblock bottomimports %}
