{% extends "base.html" %}
{% load static %}

{% block headtitle %}{% if user.name %}{{user.name}} - {% endif %}Playlists - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}

<meta property="og:title" content="{% if user.name %}{{user.name}} - {% endif %}Playlists - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

{% endblock headermeta %}

{% block topimports %}
<link href="{% static "css/profile-playlists.css" %}" rel="preload" as="style">
<link href="{% static "css/profile-playlists.css" %}" rel="stylesheet">
{%endblock topimports %}

{% block innercontent %}
{% if user %}{% else %}
No such user
{% endif %}
{% endblock %}

{% block content %}
{% if user %}<div id="page-profile-playlists">
        <h2>{{user.name}}</h2>
        <ul>
                <li><a href="/user/{{user.username}}/about">ABOUT</a></li>
                <li><a href="/user/{{user.username}}">MEDIA</a></li>
                <li><a href="/user/{{user.username}}/playlists">PLAYLISTS</a></li>
        </ul>
        <h3>Created playlists</h3>
        <ul>
        {% for playlist_object in playlists %}
        <li>
                <h4><a href="/playlists/{{playlist_object.friendly_token}}"><img src="{{playlist_object.thumbnail_url}}" alt="Thumbnail" title="{{playlist_object.title}}" loading="lazy" /><br />
                                {{playlist_object.title}}</a></h4>
                <p>{{playlist_object.media_count}} videos</p>
                <p>Published {{playlist_object.add_date}}</p>
        </li>
        {% endfor %}
        </ul>
</div>{% endif %}
{% endblock %}

{% block bottomimports %}
<script src="{% static "js/profile-playlists.js" %}"></script>
{% endblock bottomimports %}
