#tiny_mediacms_form {
    padding: 1rem;
}

#tiny_mediacms_form #id_deletefileshdr {
    display: none;
}

#tiny_mediacms_form.has-unused-files #id_deletefileshdr {
    display: block;
}

#tiny_mediacms_form #id_missingfileshdr {
    display: none;
}

#tiny_mediacms_form.has-missing-files #id_missingfileshdr {
    display: block;
}

iframe.mmcms_iframe {
    height: 650px;
    border: none;
    width: 100%;
}

.missing-files ol {
    padding-left: 15px;
}

.missing-files ol li {
    font-style: italic;
    font-weight: 600;
    color: red;
}

.tiny_imagecms_form .tiny_imagecms_dropzone_container {
    height: 200px;
}

.tiny_imagecms_form .tiny_imagecms_dropzone_container .dropzone-label {
    font-size: 1.25rem;
}

.tiny_imagecms_form .tiny_imagecms_loader_container {
    height: 200px;
}

.tiny_imagecms_form  .tiny_imagecms_preview_box {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.tiny_imagecms_form .tiny_imagecms_deleteicon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 1;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    padding: 4px 5px 5px 9px;
}

.tiny_imagecms_form .tiny_imagecms_deleteicon .fa-trash {
    color: #1d2125;
}


label.form-check-label {
    margin-left: 8px;
}

@media (max-width: 767px) {
    .tiny_imagecms_form .tiny_imagecms_properties_col {
        padding: 0;
    }
}
