body {
  --body-text-color: #111;
  --body-bg-color: #fafafa;

  --hr-color: #e1e1e1;

  --dotted-outline-color: rgba(0, 0, 0, 0.4);

  /* ################################################## */

  --input-color: hsl(0, 0%, 7%);
  --input-bg-color: hsl(0, 0%, 100%);
  --input-border-color: hsl(0, 0%, 80%);

  /* ################################################## */

  --header-bg-color: #fff;

  --header-circle-button-color: #606060;

  --header-popup-menu-color: rgb(13, 13, 13);
  --header-popup-menu-icon-color: rgb(144, 144, 144);

  /* ################################################## */

  --sidebar-bg-color: #f5f5f5;

  --sidebar-nav-border-color: #eee;

  --sidebar-nav-item-text-color: rgb(13, 13, 13);
  --sidebar-nav-item-icon-color: rgb(144, 144, 144);

  --sidebar-bottom-link-color: initial;

  /* ################################################## */

  --spinner-loader-color: rgba(17, 17, 17, 0.8);

  /* ################################################## */

  --nav-menu-active-item-bg-color: rgba(0, 0, 0, 0.1);

  --nav-menu-item-hover-bg-color: rgba(0, 0, 0, 0.04);

  --in-popup-nav-menu-item-hover-bg-color: #eee;

  /* ################################################## */

  --search-field-input-text-color: #111;
  --search-field-input-bg-color: #fff;
  --search-field-input-border-color: #ccc;

  --search-field-submit-text-color: #333;

  --search-field-submit-bg-color: #f8f8f8;
  --search-field-submit-border-color: #d3d3d3;

  --search-field-submit-hover-bg-color: #f0f0f0;
  --search-field-submit-hover-border-color: #c6c6c6;

  /* ################################################## */

  --search-results-item-content-link-title-text-color: rgb(17, 17, 17);

  /* ################################################## */

  --logged-in-user-thumb-bg-color: rgba(0, 0, 0, 0.07);

  /* ################################################## */

  --popup-bg-color: #fff;

  --popup-hr-bg-color: #eee;

  --popup-top-text-color: rgb(13, 13, 13);
  --popup-top-bg-color: #eee;

  --popup-msg-title-text-color: rgb(17, 17, 17);
  --popup-msg-main-text-color: rgba(17, 17, 17, 0.8);

  /* ################################################## */

  --comments-textarea-wrapper-border-color: #eeeeee;
  --comments-textarea-wrapper-after-bg-color: #0a0a0a;

  --comments-textarea-text-color: #0a0a0a;
  --comments-textarea-text-placeholder-color: rgba(17, 17, 17, 0.6);

  --comments-list-inner-border-color: #eee;

  --comment-author-text-color: #111;

  --comment-date-text-color: #606060;
  --comment-date-hover-text-color: #0a0a0a;

  --comment-text-color: #111;

  --comment-actions-material-icon-text-color: rgba(17, 17, 17, 0.8);

  --comment-actions-likes-num-text-color: rgba(17, 17, 17, 0.6);

  --comment-actions-reply-button-text-color: rgba(17, 17, 17, 0.6);
  --comment-actions-reply-button-hover-text-color: #111;

  --comment-actions-cancel-removal-button-text-color: rgba(17, 17, 17, 0.6);
  --comment-actions-cancel-removal-button-hover-text-color: #111;

  /* ################################################## */

  --item-bg-color: #fafafa;

  --item-title-text-color: #111;

  --item-thumb-bg-color: var(--sidebar-bg-color);

  --item-meta-text-color: rgba(17, 17, 17, 0.6);
  --item-meta-link-text-color: var(--item-text-color);
  --item-meta-link-hover-text-color: rgba(17, 17, 17, 0.8);

  --profile-page-item-content-title-bg-color: #fff;

  --playlist-item-main-view-full-link-text-color: rgb(96, 96, 96);
  --playlist-item-main-view-full-link-hover-text-color: rgb(13, 13, 13);

  /* ################################################## */

  --item-list-load-more-text-color: rgba(17, 17, 17, 0.6);
  --item-list-load-more-hover-text-color: rgba(17, 17, 17, 0.8);

  /* ################################################## */

  --media-list-row-border-color: #eee;
  --media-list-header-title-link-text-color: rgba(17, 17, 17, 0.6);

  /* ################################################## */

  --playlist-form-title-focused-bg-color: #111;

  --playlist-privacy-border-color: #888;

  --playlist-form-cancel-button-text-color: rgba(17, 17, 17, 0.6);
  --playlist-form-cancel-button-hover-text-color: #111;

  --playlist-form-field-text-color: #000;
  --playlist-form-field-border-color: #888;

  /* ################################################## */

  --playlist-save-popup-text-color: #111;
  --playlist-save-popup-border-color: #eee;

  --playlist-save-popup-create-icon-text-color: #909090;
  --playlist-save-popup-create-focus-bg-color: rgba(136, 136, 136, 0.14);

  /* ################################################## */

  --playlist-view-header-bg-color: #fafafa;

  --playlist-view-header-toggle-text-color: rgb(96, 96, 96);

  --playlist-view-header-toggle-bg-color: #fafafa;

  --playlist-view-title-link-text-color: rgb(13, 13, 13);

  --playlist-view-meta-text-color: rgba(17, 17, 17, 0.6);
  --playlist-view-meta-link-color: rgba(17, 17, 17, 0.6);
  --playlist-view-meta-link-hover-text-color: rgb(13, 13, 13);

  --playlist-view-status-text-color: rgba(17, 17, 17, 0.6);
  --playlist-view-status-bg-color: rgba(0, 0, 0, 0.05);

  --playlist-view-status-icon-text-color: rgba(17, 17, 17, 0.4);

  --playlist-view-actions-bg-color: #fafafa;

  --playlist-view-media-bg-color: var(--sidebar-bg-color);

  --playlist-view-media-order-number-color: rgb(136, 136, 136);

  --playlist-view-item-title-text-color: rgb(13, 13, 13);

  --playlist-view-item-author-text-color: rgb(13, 13, 13);

  --playlist-view-item-author-bg-color: var(--sidebar-bg-color);

  /* ################################################## */

  --profile-page-bg-color: #fff;

  --profile-page-header-bg-color: var(--body-bg-color);

  --profile-page-info-videos-number-text-color: rgba(17, 17, 17, 0.6);

  --profile-page-nav-link-text-color: rgba(17, 17, 17, 0.6);
  --profile-page-nav-link-hover-text-color: #111;

  --profile-page-nav-link-active-text-color: #111;
  --profile-page-nav-link-active-after-bg-color: rgba(17, 17, 17, 0.6);

  /* ################################################## */

  --add-media-page-tmplt-dialog-bg-color: #fff;
  --add-media-page-tmplt-uploader-bg-color: #fff;
  --add-media-page-tmplt-dropzone-bg-color: rgba(255, 255, 255, 0.5);
  --add-media-page-tmplt-drag-drop-inner-text-color: rgba(17, 17, 17, 0.4);
  --add-media-page-tmplt-upload-item-spiner-text-color: rgba(17, 17, 17, 0.32);
  --add-media-page-tmplt-upload-item-actions-text-color: rgba(17, 17, 17, 0.4);

  /* ################################################## */

  --add-media-page-qq-gallery-upload-button-text-color: rgba(17, 17, 17, 0.6);
  --add-media-page-qq-gallery-upload-button-icon-text-color: rgba(17, 17, 17, 0.6);

  --add-media-page-qq-gallery-upload-button-hover-text-color: rgba(17, 17, 17, 1);
  --add-media-page-qq-gallery-upload-button-hover-icon-text-color: rgba(17, 17, 17, 1);

  --add-media-page-qq-gallery-upload-button-focus-text-color: rgba(17, 17, 17, 0.4);

  /* ################################################## */

  --playlist-page-bg-color: rgb(250, 250, 250);
  --playlist-page-details-text-color: rgb(96, 96, 96);
  --playlist-page-thumb-bg-color: rgba(0, 0, 0, 0.07);
  --playlist-page-title-link-text-color: rgb(13, 13, 13);

  --playlist-page-actions-circle-icon-text-color: rgb(144, 144, 144);
  --playlist-page-actions-circle-icon-bg-color: rgb(250, 250, 250);

  --playlist-page-actions-nav-item-button-text-color: rgb(10, 10, 10);

  --playlist-page-actions-popup-message-bottom-cancel-button-text-color: rgba(17, 17, 17, 0.6);
  --playlist-page-actions-popup-message-bottom-cancel-button-hover-text-color: #111;
  --playlist-page-actions-popup-message-bottom-cancel-button-icon-hover-text-color: #111;

  --playlist-page-status-text-color: rgba(17, 17, 17, 0.6);
  --playlist-page-status-bg-color: rgba(0, 0, 0, 0.1);

  --playlist-page-status-icon-text-color: rgba(17, 17, 17, 0.4);

  --playlist-page-author-border-top-color: rgba(0, 0, 0, 0.1);
  --playlist-page-author-name-link-color: rgb(13, 13, 13);

  --playlist-page-author-edit-playlist-icon-button-text-color: rgb(96, 96, 96);

  --playlist-page-author-edit-playlist-icon-button-bg-color: #fafafa;

  --playlist-page-author-edit-playlist-icon-button-active-text-color: rgb(13, 13, 13);

  --playlist-page-author-edit-playlist-form-wrap-text-color: rgb(13, 13, 13);
  --playlist-page-author-edit-playlist-form-wrap-bg-color: #fff;

  --playlist-page-author-edit-playlist-form-wrap-border-color: #eee;

  --playlist-page-author-edit-playlist-form-wrap-title-circle-icon-hover-text-color: #111;

  --playlist-page-author-edit-playlist-author-thumb-text-color: #606060;
  --playlist-page-author-edit-playlist-author-thumb-bg-color: rgba(0, 0, 0, 0.07);

  --playlist-page-details-bg-color: #fafafa;

  --playlist-page-video-list-bg-color: #f5f5f5;

  --playlist-page-video-list-item-title-bg-color: #f5f5f5;

  --playlist-page-video-list-item-hover-bg-color: #ebebeb;

  --playlist-page-video-list-item-title-hover-bg-color: #ebebeb;

  --playlist-page-video-list-item-after-bg-color: rgba(0, 0, 0, 0.1);
  --playlist-page-video-list-item-order-text-color: rgb(96, 96, 96);

  --playlist-page-video-list-item-options-icon-hover-color: #111;

  --playlist-page-video-list-item-options-popup-cancel-removal-button-text-color: rgba(17, 17, 17, 0.6);
  --playlist-page-video-list-item-options-popup-cancel-removal-button-hover-text-color: #111;

  --playlist-page-video-list-item-options-popup-cancel-removal-button-hover-icon-text-color: #111;

  /* ################################################## */

  --media-author-actions-popup-bottom-cancel-removal-button-text-color: rgba(17, 17, 17, 0.6);
  --media-author-actions-popup-bottom-cancel-removal-button-hover-text-color: #111;
  --media-author-actions-popup-bottom-cancel-removal-button-hover-icon-text-color: #111;

  --profile-banner-wrap-popup-bottom-cancel-removal-button-text-color: rgba(17, 17, 17, 0.6);
  --profile-banner-wrap-popup-bottom-cancel-removal-button-hover-text-color: #111;
  --profile-banner-wrap-popup-bottom-cancel-removal-button-hover-icon-text-color: #111;

  --media-title-banner-border-color: #eee;
  --media-title-labels-area-text-color: rgba(17, 17, 17, 0.6);
  --media-title-labels-area-bg-color: rgba(238, 238, 238, 0.6);
  --media-title-views-text-color: rgba(17, 17, 17, 0.6);

  --media-actions-not-popup-circle-icon-focus-bg-color: rgba(0, 0, 0, 0.04);
  --media-actions-not-popup-circle-icon-active-bg-color: rgba(0, 0, 0, 0.07);
  --media-actions-like-before-border-color: rgba(17, 17, 17, 0.4);
  --media-actions-share-title-text-color: #111;
  --media-actions-share-options-nav-button-text-color: rgba(17, 17, 17, 0.4);
  --media-actions-share-options-link-text-color: rgb(17, 17, 17);
  --media-actions-share-copy-field-border-color: rgb(237, 237, 237);
  --media-actions-share-copy-field-bg-color: rgb(250, 250, 250);
  --media-actions-share-copy-field-input-text-color: rgb(17, 17, 17);
  --media-actions-more-options-popup-bg-color: #fff;
  --media-actions-more-options-popup-nav-link-text-color: rgb(10, 10, 10);
  --media-actions-share-fullscreen-popup-main-bg-color: #fff;

  --report-form-title-text-color: #111;
  --report-form-field-label-text-color: rgba(17, 17, 17, 0.6);
  --report-form-field-input-text-color: #111;
  --report-form-field-input-border-color: rgb(237, 237, 237);
  --report-form-field-input-bg-color: rgb(250, 250, 250);
  --report-form-help-text-color: rgba(17, 17, 17, 0.6);

  --form-actions-bottom-border-top-color: rgb(238, 238, 238);

  --media-author-banner-name-text-color: #0a0a0a;
  --media-author-banner-date-text-color: rgba(17, 17, 17, 0.6);

  --media-content-banner-border-color: #eee;

  --share-embed-inner-on-right-border-color: rgb(238, 238, 238);
  --share-embed-inner-on-right-ttl-text-color: #111;
  --share-embed-inner-on-right-icon-text-color: rgba(17, 17, 17, 0.4);
  --share-embed-inner-textarea-text-color: rgba(17, 17, 17, 0.8);
  --share-embed-inner-textarea-border-color: rgb(237, 237, 237);
  --share-embed-inner-textarea-bg-color: rgb(250, 250, 250);
  --share-embed-inner-embed-wrap-iconn-text-color: rgba(17, 17, 17, 0.4);

  --media-status-info-item-text-color: #111;

  --viewer-sidebar-auto-play-border-bottom-color: rgba(0, 0, 0, 0.1);
  --viewer-sidebar-auto-play-next-label-text-color: #0a0a0a;
  --viewer-sidebar-auto-play-option-text-color: #606060;

  /* ################################################## */

  --user-action-form-inner-bg-color: #fff;
  --user-action-form-inner-title-border-bottom-color: var(--sidebar-nav-border-color);

  --user-action-form-inner-input-border-color: #d3d3d3;
  --user-action-form-inner-input-text-color: #000;
  --user-action-form-inner-input-bg-color: #fff;
}
