[defaults]
inventory  = hosts
host_key_checking = False
deprecation_warnings = False
roles_path = roles

[ssh_connection]
# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use
# paramiko on older platforms rather than removing it, -C controls compression use
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes
