<div id="app-header"></div>

{% comment %}
Uncomment, or replace with your own cookie consent code.

<script src="https://cdn.websitepolicies.io/lib/cookieconsent/cookieconsent.min.js" defer></script>
<script>
    window.addEventListener("load", function () {
        window.wpcc.init({
            border: "normal",
            corners: "normal",
            colors: { popup: { background: "#222222", text: "#ffffff", border: "#FF8000" }, button: { background: "#FF8000", text: "#000000" } },
            position: "top-right",
            content: { message: "Hi there, we are using cookies on this website. We don't use tracking or analytics here, just the essentials for the Website to work.\n", button: "Understood! Yum!", link: "Click here to learn more." },
        });
    });
</script>


{% endcomment %}