<div id="app-sidebar">
        <nav>
                <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/featured">Featured</a></li>
                        <li><a href="/recommended">Recommended</a></li>
                        <li><a href="/members">Members</a></li>
                        <li><a href="/latest">Recent uploads</a></li>
                        <li><a href="/tags">Tags</a></li>
                        <li><a href="/categories">Categories</a></li>
                </ul>
        </nav>
        <nav>
                <ul>
                        <li><a href="/history">History</a></li>
                        <li><a href="/liked">Liked media</a></li>
                </ul>
        </nav>
        <nav>
                <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/tos">Terms</a></li>
                        <li><a href="/contact">Contact</a></li>
                </ul>
        </nav>
</div>
